<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/86a1e6ae-14f3-411c-86cf-a7078246c95d/resourcegroups/ChooseHealthy20180407015653ResourceGroup/providers/Microsoft.Web/sites/ChooseHealthy</ResourceId>
    <ResourceGroup>ChooseHealthy20180407015653ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://choosehealthy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>choosehealthy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChooseHealthy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ChooseHealthy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="NoorDataBaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=choosehealthy.database.windows.net;Initial Catalog=NoorDataBase;User ID=choosehealthy;Password=P@ssw0rd!;Application Name=EntityFramework" Name="Data Source=choosehealthy.database.windows.net;Initial Catalog=NoorDataBase;User ID=choosehealthy;Password=P@ssw0rd!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ChooseHealthy.Data.NoorDataBaseEntities, Bot Application" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="NoorDataBaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=choosehealthy.database.windows.net;Initial Catalog=NoorDataBase;User ID=choosehealthy;Password=P@ssw0rd!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>